<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CLIENT_ID</key>
	<string>1021871179002-d8tdp5v97b7el2pqkn9ip82l6u0sii85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021871179002-d8tdp5v97b7el2pqkn9ip82l6u0sii85</string>
	<key>API_KEY</key>
	<string>AIzaSyCHm76-6c6KX8FwxBhr0H4c-E1wJsuWI84</string>
	<key>GCM_SENDER_ID</key>
	<string>1021871179002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BradHeo.SwiftUIFirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>swiftui-firebase-chat-6c005</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-firebase-chat-6c005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021871179002:ios:8579552f7ad362203b3543</string>
</dict>
</plist>
